[user]
	email = peter.kang@datadoghq.com
	name = Peter Kang
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOfdp2HBuzxO2HvSGgAzliROIkHEimuX2Tw/NNEdnDVY

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
[core]
	editor = nvim
[include]
	path = /Users/peter.kang/.config/gitsign/gitconfig
[alias]
	fgrep = grep -F
	co = checkout
    codd = "!git checkout -b peter.kang/$1; #"
    com = "!git checkout $(git rev-parse --abbrev-ref origin/HEAD | cut -d'/' -f2); #"
[safe]
	directory = *
[pager]
	log = less -FX
[gpg]
	format = ssh
[gpg "ssh"]
	program = dd-gitsign
	allowedSignersFile = /home/bits/.config/gitsign/allowed-signers
[commit]
	gpgsign = true
